header {
    background-image: linear-gradient(to bottom,white, rgb(252, 206, 214));
    padding-top: 2em;
    text-align: center;
}

.header-logo {
    max-height: 2em;
}

.header-name {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    font-weight: bolder;
    color: darkred;
}